* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#background {
    text-align: center;
}

img {
    width: 450px;
}

#container {
    text-align: center;
}

input {
    padding: 5px;
    height: 30px;
    border: 2px solid #1C2155;
}

input[type= "text"] {
    margin-top: 50px;
    width: 250px;

}

input[type= "time"] {
    width: 90px;
}

input[type= "submit"] {
    margin-top: 10px;
    background-color: #E5EAFD;
    width: 90px;
}

input[type= "button"] {
    margin-left: 90px;
    background-color: #E5EAFD;
    width: 160px;
}

input:hover {
    border: 2px solid #587CF7;
}

input:focus {
    outline: 0;
    border: 2px solid #587CF7;
}

ul {
    padding-top: 30px;
    margin: auto;
    width: 350px;
    margin-bottom: 20px;
}

li {
    text-align: left;
    font-weight: bold;
    background-color: #E5EAFD;
    border: 2px solid #1C2155;
    border-radius: 5px;
    padding: 3px 3px 3px 5px;
    margin-bottom: 5px;
}

#link {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 450px) {    
    img {
        width: 300px;
    }

    input[type= "text"] {
        width: 200px;
    }

    input[type= "button"] {
        margin-left: 40px;
    }

    ul {
        width: 300px;
    }
}